body {
    background-color: #535C6F;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
}

#qaresourcesBackground {
    background-image: url("../images/code_background.PNG");
    opacity: .7;
    position: relative;
    height: 25em;
    width: 100%;
    background-position: center;
    margin-left: 0px;
    padding-right: .5em;
}

.home_menu {
    background-color: gray;
    position: fixed;
    width: 100%;
    height: 2em;
    border-radius: 2px;
    z-index: 1;
    margin-top: -10px;
    margin-left: -10px;
/*    padding-top: 8px;*/
/*    text-align: center;*/
/*    font-weight: 800;*/
}

.menu_links {
    position: relative;
    display: inline;
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
    width: 100%;
    top: 8px;
    text-decoration: none;
}

a {
    margin-top: 10px;
    color: white;
}

a:hover {
    color: #535C6F;
}

#container {
    width: 80%;
    height: auto;
/*    align-content: center;*/
}

.content {
    width: 25%;
    text-align: center;
    background-color: white;
    border-radius: 3em;
/*    border: -10px solid #868686;*/
    margin: 1%;
    float:left;
}

.adright1 {
    float: right;
    background-color: blue;
    height: 30em;
    width: 20%;
    margin-top: 1em;
    margin-left: 1em;
}

.pageTitle {
    font-family: sans-serif;
    color: White;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 3em;
    font-weight:600;
}

#loginLink {
    position: absolute;
    right: 1px;
    top: 0;
    color:  black;
    top: 8px;
    font-size: 16px;
    width: 3%

}

#Center-Object {
/*    position: relative;*/
    width: 50%;
    height: 5em;
    top: 100px;
    margin-top: 50px;
    text-align: center;
    margin: auto;
    border: 2px dotted green;
    background-color: aliceblue;
}

#home2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: aquamarine;
}

