.headers {
    font-size: 1em;
    font-family: sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
}

html {
    background-color: black;
}

p {
    font-family: serif;
    font-size: 1em;
    color: white;
}

li {
    float: left;
    /*    align-content: center;*/
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul {
    align-content: center;
    text-align: center;
    list-style-type: none;
    
    overflow: hidden;
    background-color: black;
    padding: 10px 10px 10px 10px;
    float: left;
/*    margin: 1em 1em 4em 9em; */
}

li a:hover {
    background-color: dimgrey;
}

#time {
    float:right;
    padding: 1em 1em 1em 1em;
    
}

/*
h1 {
    color: white;
    text-align: center;
    padding: 1em 1em 1em 1em;
    margin: 1em 1em 1em 1em;
}
*/
