body {
    background-color: #0074D9;
    font-family: sans-serif;
    color: black;
    font-size: 100%;
}

#frontpagepic {
    opacity: .4;
    margin: -20px;
    background-image: url("../images/code_background.PNG");
    position: static;
    height: 20rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#qaresourcesBackground {
    background-image: url("../images/code_background.PNG");
    opacity: .8;
    position: relative;
    height: 25em;
    width: 100%;
    background-position: center;
}

.pageTitle {
    font-family: sans-serif;
    color: chartreuse;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

.home_menu {
    background-color: white;
    position: relative;
    width: 100%;
    height: 2em;
}


#loginLink {
    position: absolute;
    right: 0;
    top: 0;
    color:  black;
    top: 8px;
    font-size: 16px;
}

.menu_links {
    position: relative;
    display: inline;
    height: 40px;
    text-align: center;
    padding-right: 2em;
    padding-left: 2em;
    width: 100%;
    top: 8px;
    text-decoration: none;
}

a {
    margin-top: 10px;
    color: black;
}

a:hover {
    color: dodgerblue;
}

#Center-Object {
/*    position: relative;*/
    width: 50%;
    height: 5em;
    top: 100px;
    margin-top: 50px;
    text-align: center;
    margin: auto;
    border: 2px dotted green;
    background-color: aliceblue;
}

#home2 {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: aquamarine;
}
